@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}
.header{
    
    height: 7rem;
    margin-bottom: 4rem;
    color: #000;
    background-color: rgba(95, 76, 76, 0.941); /* Half-transparent background */

}
.header{
    position: sticky;
    top:0%;
    width: 100%;

}
.header{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.instagram{
    padding-left: 20%;
    display: flex;
    justify-content: space-evenly;
}
.instagram a{

    color: #fff;
    text-decoration: none;
}
.email a {
    
        
        color: #fff;
        text-decoration: none;
    
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    
    text-align: center;
    margin-bottom: 40px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #ffcc00;
}

.name {
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 3rem;
    color: rgb(73, 71, 69);
}

.sections {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Added gap between sections */
    margin-top: 20px;
}

.section {
    width: 30%;
    background-color: rgba(26, 26, 26, 0.5); /* Half-transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.section h2 {
    border-bottom: 2px solid #bbb28e;
    padding-bottom: 5px;
    color: #ffffff;
    margin-bottom: 15px;
}

.section p {
    margin: 10px 0;
}

.section p strong {
    color: #fff067;
}

.section a {
    color: #83dbdb;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}
