html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pic/17663.jpg);
background-repeat:  no-repeat;
background-attachment: fixed;
background-size: 100% 100%;

}


.card{
    
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    text-align: center;
    border: 5px solid rgb(80, 60, 60)  ;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(122, 77, 77, 0.271);


    
}
.image{
    border-radius: 50%;
}
.top{
    display: flex;
    justify-content: start;
    align-items: center;
    
    justify-content: space-evenly;   
    gap: 60px;
    flex-wrap: wrap;
}
.bottom{
    display: flex;
    gap: 30px;
    padding-top: 3%;
}
.iconmail img{
    padding-top: 5px; 
}
@media only screen and (max-width: 768px)
{
    body{
        background-size: cover;

    }
    .card{
        background-color: rgba(128, 128, 128, 0);
        box-shadow: 10px 10px 10px rgba(122, 77, 77, 0.271);
        box-sizing: border-box;
        height: 400px;
        width: 300px;
     
        
    }
    .top{
        display: flex;
        flex-direction: row;
    }
}