* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 700px 500px 400px 100px;
    grid-template-areas:
        'a a a a'
        'b b c c'
        't t t t'
        'd d d d'
        'f f f f';
        color: white;
        background-color: black;
        
}
h2{ 
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.navbar {
    grid-area: a;
    background-color: rgb(69, 64, 64);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}

.options {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    padding-right: 10px;
    font-size: larger;
    color: white;
}

.logo {
    margin-left: 20px;
}

.upleft {
    grid-area: b;
    padding: 10PX 20px;

}

.upright {
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.lower {
    grid-area: d;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 0px;
}

.lowleft, .lowright {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.detail-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(41, 48, 53);
    height: 100%;
    width: 100%;
    text-align: center;
}
.center{
    grid-row: 3/4;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding-top: 50%;
}

.footer {
    grid-area: f;
    background-color: red;
    text-align: center;
    padding: 10px;
    color: white;
}
.upleft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
.abouth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170px;
    color: rgb(87, 187, 113);
    }

.icon{
    border-radius: 10px;
    
}
.icon:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.mainim:hover{
    transform: scale(1.05);
    transition:all 0.3s ease-in;
   
}
.upleft:hover{
    transform: scale(1.04);
    transition:all 0.3s ease-in;
   
}
.intro{
    padding-top: 2%;
    margin: 0;
}
.logo{
    background-color: aqua;
    border-radius: 50%;
    padding: 5px;
    
    
    
}
